<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width" />
    <title>UrT stats</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://bootswatch.com/4/cosmo/bootstrap.min.css" crossorigin="anonymous">
    <style>
      body {
        padding: 1rem 0;
      }
      h1,
      h2,
      h3,
      h4,
      h5 {
        text-align: center;
      }
      h4 {
        background-color: #01579b;
        color: #fff;
        margin: 0;
        padding: 0.5em 0.75em;
      }
      table td {
        text-align:right;
      }
      table td:first-child,
      table th:first-child {
        text-align: left !important;
      }
      tbody tr:hover {
        color: #01579b;
        cursor: pointer;
      }
      .dataTable-wrapper {
        width: 100%;
      }
      .dataTable-top,
      .dataTable-bottom {
        padding: 0.5rem 0 !important;
      }
      .number {
        font-family: monospace;
      }
      .card-player table {
        margin-bottom: 0;
      }
      .card-player thead {
        display: none;
      }
      background-color: #2780e3;
      border-radius: 100%;
      bottom: 1em;
      color: #fff;
      font-size: 2.5rem;
      height: 1.25em;
      line-height: 1em;
      position: fixed;
      right: 1em;
      text-align: center;
      text-decoration: none;
      width: 1.25em;
    </style>
  <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="container">
      <header class="jumbotron">
        <h1 class="display-4">El Parque - UrT Stats</h1>
      </header>
      <h2>{{server_data}}</h2>
      <h5>Updated: {{dt}}</h5>
      <ol>
      {% for player in players_data %}
        <li><a href="#{{player}}">{{player}}</a></li>
      {% endfor %}
      </ol>
      <table id="stats" class="table table-bordered table-hover">
        <thead>
          <tr>
            <th>Name</th>
            <th>Rounds</th>
            <th>Kills</th>
            <th>Deaths</th>
            <th>Headshots</th>
            <th>Streak</th>
            <th>Suicides</th>
            <th>Ratio</th>
            <th>Lethality</th>
            <th>Score</th>
          </tr>
        </thead>
        <tbody>
        {% for player in general_data%}
        <tr>
          <td><a href="#{{player.0}}">{{player.0}}</a></td>
          <td class="number">{{player.1}}</td>
          <td class="number">{{player.2}}</td>
          <td class="number">{{player.3}}</td>
          <td class="number">{{player.4}}</td>
          <td class="number">{{player.5}}</td>
          <td class="number">{{player.6}}</td>
          <td class="number">{{player.7}}</td>
          <td class="number">{{player.8}}</td>
          <td class="number">{{player.9}}</td>
        </tr>
        {% endfor %}
        </tbody>
      </table>
      <section>
        <h2>Player Profiles</h2>
        {% for player in profiles %}
          <section id="{{player}}" class="card card-player mb-4">
            <h3 class=card-header>{{player}}</h3>
            <ul class="nav nav-tabs nav-justified" id="tab-{{player}}" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" id="link-frags-{{player}}" data-toggle="tab" href="#tab-frags-{{player}}" role="tab" aria-controls="Frags" aria-selected="true">Fragged</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="link-deaths-{{player}}" data-toggle="tab" href="#tab-deaths-{{player}}" role="tab" aria-controls="Deaths" aria-selected="false">Fragged by</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="link-weapons-{{player}}" data-toggle="tab" href="#tab-weapons-{{player}}" role="tab" aria-controls="Weapons" aria-selected="false">Weapons Used</a>
                </li>
              </ul>
            <div class="tab-content" id="tab-content-{{player}}">
              <div class="tab-pane fade show active" id="tab-frags-{{player}}" role="tabpanel" aria-labelledby="frags-tab">
                <table class="table table-bordered table-hover">
                  <thead>
                    <tr>
                      <th>Player</th>
                      <th>Qty</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for frag in profiles[player]['frags'] %}
                    <tr>
                      <td><a href="#{{frag[0]}}">{{frag[0]}}</a></td>
                      <td class="number">{{frag[1]}}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
              <div class="tab-pane fade" id="tab-deaths-{{player}}" role="tabpanel" aria-labelledby="deaths-tab">
                <table class="table table-bordered table-hover">
                  <thead>
                    <tr>
                      <th>Player</th>
                      <th>Qty</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for death in profiles[player]['deaths'] %}
                    <tr>
                      <td><a href="#{{death[0]}}">{{death[0]}}</a></td>
                      <td class="number">{{death[1]}}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
              <div class="tab-pane fade" id="tab-weapons-{{player}}" role="tabpanel" aria-labelledby="weapons-tab">
                <table class="table table-bordered table-hover">
                  <thead>
                    <tr>
                      <th>Weapon</th>
                      <th>Qty</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for weapon in profiles[player]['weapons'] %}
                      <tr>
                        <td>{{weapon[0]}}</td>
                        <td class="number">{{weapon[1]}}</td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </section> <!-- player section -->
        {% endfor %} <!-- players -->
      </section> <!-- players section -->
    </div> <!-- container -->
    <a href="#" class="go-up" role="button">&uarr;</a>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest"></script>
  <script>const dataTable = new simpleDatatables.DataTable("#stats", {"order": [[ 9, "desc" ]], "paging": false});</script>
  </body>
</html>
