<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>UrT stats</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap" rel="stylesheet">
    <style type="text/css" media="screen">
      body {
        font-family: 'Montserrat', sans-serif;
        padding-top: 3em;
      }
      table {
        text-align: right;
      }
      thead {
        background-color: #01579b;
        color: #fff;
        font-weight: 500;
      }
      tbody {
        background-color: #fff;
      }
      tr:nth-of-type(even) {
        background-color: #eee;
      }
      table td:first-child {
        text-align: left !important;
      }
      .container {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
      }
      .dataTable-wrapper {
        width: 80%;
      }
      @media only screen and (min-width: 768px) {
/*        body {
          padding-top: 3em%;
        }*/
      }
    </style>
  <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="container">
      <h1>El Parque - UrT Stats</h1>
      <h5>{{server_data}}</h5>
      <ol>
      {% for player in players_data %}
      <li>{{player}}</li>
      {% endfor %}
      </ol>
      <table id="stats">
        <thead>
        <tr>
            <th>Name</th>
            <th>Num. Played</th>
            <th>Kills</th>
            <th>Deaths</th>
            <th>Headshots</th>
            <th>Max Kill Streak</th>
            <th>Suicides</th>
            <th>Ratio</th>
          </tr>
        </thead>
        <tbody>
       {% for player in general_data%}
        <tr>
          <td>{{player.0}}</td>
          <td>{{player.1}}</td>
          <td>{{player.2}}</td>
          <td>{{player.3}}</td>
          <td>{{player.4}}</td>
          <td>{{player.5}}</td>
          <td>{{player.6}}</td>
          <td>{{player.7}}</td>
        </tr>
       {% endfor %}
        </tbody>
      </table>
      <h2>Frags repartition</h2>
      {% for player, frags in frags_repartition.items()%}
      <h4>{{player}}</h4>
      <table>
        <thead>
          <tr>
            {%for frag in frags%}
              <th>{{frag.0}}</th>
            {% endfor %}
          </tr>
        </thead>

        <tbody>
          <tr>
            {%for frag in frags%}
              <td>{{frag.1}}</th>
            {% endfor %}
          </tr>
        </tbody>
      </table>
      {% endfor %}
      <h2>Deaths repartition</h2>
      {% for player, deaths in deaths_repartition.items()%}
      <h4>{{player}}</h4>
      <table>
        <thead>
          <tr>
            {%for death in deaths%}
              <th>{{death.0}}</th>
            {% endfor %}
          </tr>
        </thead>

        <tbody>
          <tr>
            {%for death in deaths%}
              <td>{{death.1}}</th>
            {% endfor %}
          </tr>
        </tbody>
      </table>
      {% endfor %}
      <h2>Favorite Weapons</h2>
      <ul>
      {% for player in favorite_weapons %}
      <li>{{player.0}}: {{player.1}}</li>
      {% endfor %}
      </ul>

    </div>
  <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" type="text/javascript"></script>
  <script charset="utf-8">
    const dataTable = new simpleDatatables.DataTable("#stats", {"order": [[ 7, "desc" ]]});
  </script>
  </body>
</html>
