<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width" />
    <title>UrT stats</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap" rel="stylesheet">
    <style>
      *,
      *::before,
      *::after {
        box-sizing: border-box;
      }
      body {
        font-family: 'Montserrat', sans-serif;
      }
      nav ul {
        display: flex;
        justify-content: center;
      }
      nav ul li {
        text-transform: capitalize;
        margin: 0 1em;
      }
      nav ul li a {
        color: #01579b;
      }
      nav ul li a:hover {
        text-decoration: none;
      }
      h4 {
        background-color: #01579b;
        color: #fff;
        margin: 0;
        padding: 0.5em 0.75em;
        text-align: center;
      }
      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
      }
      li {
        line-height: 1.5;
      }
      table {
        text-align: right;
        width: 100%;
      }
      table,
      th,
      td {
        border-collapse: collapse;
      }
      th,
      td {
        padding: 0.75em;
      }
      thead {
        background-color: #01579b;
        color: #fff;
        font-weight: 500;
      }
      tbody {
        background-color: #eee;
      }
      table td:first-child,
      table th:first-child {
        text-align: left !important;
      }
      tbody tr:hover {
        color: #01579b;
        cursor: pointer;
      }
      .container {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        max-width: 960px;
        margin: 0 auto;
      }
      .grid {
        display: flex;
        flex-wrap: wrap;
        margin: -1em 0 0 -1em;
      }
      .grid-cell {
        flex: 1;
        margin: 0;
        padding: 1em 0 0 1em;
      }
      .grid-fit > .grid-cell {
        flex: 1;
      }
      .grid-full > .grid-cell {
        flex: 0 0 100%;
      }
      .grid-1of2 > .grid-cell {
        flex: 0 0 50%
      }
      .grid-1of3 > .grid-cell {
        flex: 0 0 33.3333%
      }
      .grid-1of4 > .grid-cell {
        flex: 0 0 25%
      }
      .box {
        background-color: #eee;
        border: 1px solid rgba(0, 0, 0, 0.05);
        padding: 0.75em;
      }
      .dataTable-wrapper {
        width: 100%;
      }
      .dataTable-top,
      .dataTable-bottom {
        padding: 8px 0;
      }
      .number {
        font-family: monospace;
      }
    </style>
  <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="container">
      <h1>El Parque - UrT Stats</h1>
      <nav>
        <ul>
          <li><a href="#frags">frags</a></li>
          <li><a href="#deaths">deaths</a></li>
          <li><a href="#weapons">weapons</a></li>
        </ul>
      </nav>
      <h3>{{server_data}}</h3>
      <h5>Updated: {{dt}}</h5>
      <ol>
      {% for player in players_data %}
        <li><a href="#{{player}}">{{player}}</a></li>
      {% endfor %}
      </ol>
      <table id="stats">
        <thead>
          <tr>
            <th>Name</th>
            <th>Rounds</th>
            <th>Kills</th>
            <th>Deaths</th>
            <th>Headshots</th>
            <th>Streak</th>
            <th>Suicides</th>
            <th>Ratio</th>
            <th>Lethality</th>
            <th>Score</th>
          </tr>
        </thead>
        <tbody>
        {% for player in general_data%}
        <tr>
          <td><a href="#{{player.0}}">{{player.0}}</a></td>
          <td class="number">{{player.1}}</td>
          <td class="number">{{player.2}}</td>
          <td class="number">{{player.3}}</td>
          <td class="number">{{player.4}}</td>
          <td class="number">{{player.5}}</td>
          <td class="number">{{player.6}}</td>
          <td class="number">{{player.7}}</td>
          <td class="number">{{player.8}}</td>
          <td class="number">{{player.9}}</td>
        </tr>
        {% endfor %}
        </tbody>
      </table>
      <h2 id="frags">Frags repartition</h2>
      <div class="grid grid-1of4">
      {% for player, frags in frags_repartition.items()%}
        <div class="grid-cell">
          <table>
            <thead>
              <tr>
                <th colspan="2">{{player}}</th>
              </tr>
            </thead>
            <tbody>
              {%for frag in frags%}
              <tr>
                <td><a href="#{{frag.0}}">{{frag.0}}</a></td>
                <td class="number">{{frag.1}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      {% endfor %}
      </div>
      <h2 id="deaths">Deaths repartition</h2>
      <div class="grid grid-1of4">
      {% for player, deaths in deaths_repartition.items()%}
        <div class="grid-cell">
          <table>
            <thead>
              <tr>
                <th colspan="2">{{player}}</th>
              </tr>
            </thead>
            <tbody>
              {%for death in deaths%}
              <tr>
                <td><a href="#{{death.0}}">{{death.0}}</a></td>
                <td class="number">{{death.1}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      {% endfor %}
      </div>
      <h2 id="weapons">Favorite Killing Weapons</h2>
      <div class="grid grid-1of4">
        {% for player, weapons in favorite_weapons.items() %}
        <div class="grid-cell">
          <table>
            <thead>
              <tr>
                <th colspan="2">{{player}}</th>
              </tr>
            </thead>
            <tbody>
              {%for weapon in weapons%}
              <tr>
                <td>{{weapon.0}}</td>
                <td class="number">{{weapon.1}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        {% endfor %}
      </div>
    </div>
      <section>
        <h2>Players Profiles</h2>
        {% for player in profiles %}
        <section id="{{player}}">
          <h3>{{player}}</h3>
      <div class="grid grid-1of3">
        <div class="grid-cell">
          <h4>Frags</h4>
          <table>
            <thead>
              <tr>
                <th>Player</th><th>Qty</th>
              </tr>
            </thead>
            <tbody>
              {% for frag in profiles[player]['frags'] %}
              <tr><td><a href="#{{frag[0]}}">{{frag[0]}}</a></td><td>{{frag[1]}}</td></tr>
              {% endfor %}
            </tbody>
          </table>
          </div>
        <div class="grid-cell">
         <h4>Deaths</h4>
          <table>
            <thead>
              <tr>
                <th>Player</th><th>Qty</th>
              </tr>
            </thead>
            <tbody>
              {% for death in profiles[player]['deaths'] %}
              <tr><td><a href="#{{death[0]}}">{{death[0]}}</a></td><td>{{death[1]}}</td></tr>
              {% endfor %}
            </tbody>
          </table>      
          </div>
        <div class="grid-cell">
          <h4>Weapons</h4>
          <table>
            <thead>
              <tr>
                <th>Weapon</th><th>Qty</th>
              </tr>
            </thead>
            <tbody>
              {% for weapon in profiles[player]['weapons'] %}
                <tr><td>{{weapon[0]}}</td><td>{{weapon[1]}}</td></tr>
              {% endfor %}
            </tbody>
          </table>
          </div>
          </div>
        {% endfor %}
      </section>
      </section>


  <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest"></script>
  <script>const dataTable = new simpleDatatables.DataTable("#stats", {"order": [[ 9, "desc" ]], "paging": false});</script>
  </body>
</html>
